body, html {
	height: 100%;
	font-family: 'Roboto', sans-serif;
}

body {
	padding-top: 54px;
    background-color: rgba(145,171,194,0.35);
	color: #050b10;
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, .navbar-brand, .nav-item {
	font-family: 'Philosopher', sans-serif;
}

hr {
    margin: 0 10% 0 10%;
}

li {
    list-style: none;
}

.nav-item, .navbar-brand {
    font-size: 1.3rem;
}

p {
	text-align: justify;
}

footer {
	background: rgba(232,208,191,1);
}

a:link {
	color: inherit;
	text-decoration: none;
}

.half-size {
	font-size: 0.5rem;
}

.caption {
	position: center;
	letter-spacing: 3px;
	background: rgba(232,208,191,0.75);
	padding: 15px;
	display: inline-block;
}

.center {
	text-align: center;
}

.jumbotron {
    height: 100%;	
    border-radius: 0%;
}

.resp-img {
	width: 100%;
}

.profile-img {
	width: 90%;
	border-radius: 50%;
    align-items: center;
}

.profile-img1 {
	border-radius: 30% 70% 65% 35% / 80% 47% 53% 20%;
}
.profile-img2 {
	border-radius: 57% 43% 65% 35% / 13% 47% 53% 87%;
}
.profile-img3 {
	border-radius: 85% 15% 65% 35% / 13% 18% 82% 87%;
}
.profile-img4 {
	border-radius: 85% 15% 65% 35% / 13% 53% 47% 87%;
}

.iconify {
	color: #2B5B80;
    text-shadow: 1px 1px 1px white;
    font-size: 4.5em;
	max-width: 100%;
}

#contact-bg {
	background-color: #050b10;
	color: #e8d0bf;
}

/* header images */
#index-pic {
	background-image: url('/portfolio/images/index/laptopDesk.jpg');
    background-size: cover;
	background-position: center bottom;
	background-repeat: no-repeat;
	min-height:430px;
}

/* BUTTONS */
.btn-dark {
  	transition: 0.25s ease;
	color: rgba(232,208,191,1);
	background-color:  #050b10;
} 

.btn-dark:hover {
    color: #050b10;
    border-color: #050b10;
    background-color: rgba(232,208,191,1);
  }

.btn-light {
  	transition: 0.25s ease;
    color: #050b10;
    background-color: rgba(232,208,191,1);
} 

.btn-light:hover {
	color: rgba(232,208,191,1);
	background-color:  #050b10;
    border-color: #050b10;
  }

/* media queries */
@media (max-width: 360px) {
    #button-resume, .email-logo, .twitter-logo {display: none;}
}
